body{
    text-align: center;
    background-color: #9db4c0;
    font-family: 'Merriweather', serif;
    margin: 0;
}
header, footer{
    background-color: #1c2541;
    color: white;
    padding: 2rem;
}
div.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
section{
    margin: 2rem auto;
    width: 90%;
    border: 4px ridge #1c2541;
    box-shadow: 0 0 8px #1c2541;
    background-color: #edfdfe;
    padding: .65rem;
}
h2{
    background-color: #1c2541;
    color:white;
    padding: .5rem;
}
img{
    width: 100%;
    height: auto;
    border: 1px solid #1c2541;
    box-shadow: 0 0 8px #1c2541;
}
