body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin: 0;
}
header, footer{
    background-color: #513C31;
    color:#FEEFE5;
    text-align: center;
    padding: 1rem;
}
main{
    display: grid;
    grid-template-columns: 1fr; 
    padding: 1.5rem;
    grid-row-gap: 2rem;
    grid-gap: 2rem;
}
section{
    background-color: #FEEFE5;
    padding-bottom: 1rem;
    border: 1px solid #654A3E;
    border-radius: 10px 10px 0 0;
}  
h3,p,a{
    padding: 0 2rem;  
} 
h3{
    background-color: #654A3E;
    color: #fff8f0;
    padding: 0.5rem 1rem;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
}
img{
    display: block;
    width: 80%;
    height: auto;
    border: 1px solid #654A3E;
    margin:2rem auto;
    
}