@media only screen and (min-width: 64rem) {

    body{
        margin: 0 5%;
        font-size: 16px;
    }
    nav button{display: none;}

    nav ul#primaryNav{
        display: flex;
        
    }
    nav ul li a{
        border: none;
        padding: .5rem 1rem;
    }
    .main-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
    .logo{
        grid-column: 1/2;
        width: 320px;
    }
    .headings{
        font-size: 90%;
    }
    .social-media{
        grid-column: 3/4;
        padding: 1.5rem;
    }
    nav{
        grid-column: 2/3;
        grid-row: 1/2;
        padding-left: 3rem;
    }

    /*Main*/
    section{
        height: auto;
    }
    .hero{
        grid-column: 3/6;
        grid-row: 1/4;
    }
    .news{
        grid-column: 3/6;
        grid-row: 4/7;
    }
    .event{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .weather{
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .join{
        grid-column: 1/3;
        grid-row: 5/7;
    }
    .spotlights{
        grid-column: 6/8;
        grid-row: 1/7;
    }
    .spotlights div{
        grid-column: 1/3;
    }
    .spotlights div:nth-child(3), .join{
        display: block;
    }
} /*end large */