body{
    font-size: 18px;
    line-height: 2;
    background-color: #FFFBEB;
    font-family: 'Alegreya Sans', sans-serif;
}
header, main, footer{
    margin: 1.25rem auto;
    max-width: 600px;  
    
}
header, footer{
    background-color: #363062;
    color: azure;
    text-align: center;
    padding: 1rem;  

}
main{
    padding: 0 1rem;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
img{
    width: 160px;
    height: auto;
    border: 5px solid #495579;
}
a{
    text-decoration: none;
}